body {
	background-image: url('assets/background.svg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

input {
	margin: 10px;
}

button {
	margin: 10px;
	background-color: #8abe79;
	border-style: none;
	padding: 5px;
	color: white;
	font-size: 20px;
}

.guiPanel {
	background-color: white;
	padding: 20px;
    animation-duration: 1s;
}
.flex {
	display: flex;
}
.column {
	flex-direction: column;
}

.flexJustifyCenter {
	justify-content: center;
}

.centerContent {
	align-items: center;
}

.switchable {

}
.transparent {
	background-color: rgba(0,0,0,0)
}

/*--------------------------------TASKS VIEW--------------------------------*/

#taskerPanel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tasksContainer {
	/*
	border-style: solid;
	border-width: 2px;
	*/
	padding: 10px;
	width: 40%;
	height: 40%;
	background-color: rgba(255,255,255,0.5);
	margin: 4%;
	margin: 5px;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);

}

.red {
	background-color: red;
}
.orange {
	background-color: orange;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: green;
}

.alert {
	margin: 2px;
	padding: 5px;
	align-items: center;
	border-radius: 6px;
}


/* TODO: Enrolling history Records*/
.alertWrapper:hover > .history {
	max-height: 100%;
}
.history {
	max-height: 0px;
	overflow: hidden;
	transition: 1s;
}


.alertButtons {
	float: right;
}

.historyRecord {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: silver;
	margin-top: 5px;
	padding: 5px;

}

@keyframes switchOut {
	0% {transform: translate(0%, 0px);}
	100% {transform: translate(100vw, 0px);}
}
@keyframes switchIn {
	0% {transform: translate(-100vw, 0px);}
	100% {transform: translate(0vw, 0px);}
}
