body {
	background-image: url('assets/background.svg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

input {
	margin: 10px;
}

button {
	margin: 10px;
	background-color: #8abe79;
	border-style: none;
	padding: 5px;
	color: white;
	font-size: 20px;
}

.guiPanel {
	background-color: white;
	padding: 20px;
    animation-duration: 1s;

}
.flex {
	display: flex;
}
.column {
	flex-direction: column;
}

.flexJustifyCenter {
	justify-content: center;
}

.centerContent {
	align-items: center;
}

.switchable {

}

/*--------------------------------TASKS VIEW--------------------------------*/

#taskerPanel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tasksContainer {
	border-style: solid;
	width: 40%;
	height: 40%;
	margin: 4%;
	background-color: white;
	margin: 5px;
	flex-wrap: wrap;
	justify-content: center;
}

.redAlerts > div{
	background-color: red;
}
.orangeAlerts > div{
	background-color: orange;
}
.yellowAlerts > div{
	background-color: yellow;
}
.greenAlerts > div{
	background-color: green;
}

.alert {
	margin: 5px;
}

.alertButtons {
	float: right;
}

@keyframes switchOut {
	0% {transform: translate(0%, 0px);}
	100% {transform: translate(100vw, 0px);}
}
@keyframes switchIn {
	0% {transform: translate(-100vw, 0px);}
	100% {transform: translate(0vw, 0px);}
}
