body {
	background-image: url('assets/background.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

input {
	margin: 10px;
}

button {
	margin: 10px;
}

.guiPanel {
	background-color: white;
	padding: 20px;
}
.flex {
	display: flex;
}
.column {
	flex-direction: column;
}

.flexJustifyCenter {
	justify-content: center;
}

.centerContent {
	align-items: center;
}
