body {
	background-image: url('assets/background.svg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

input {
	margin: 10px;
}

button {
	margin: 10px;
}

.guiPanel {
	background-color: white;
	padding: 20px;
    animation-duration: 1s;

}
.flex {
	display: flex;
}
.column {
	flex-direction: column;
}

.flexJustifyCenter {
	justify-content: center;
}

.centerContent {
	align-items: center;
}

.switchable {

}

@keyframes switchOut {
	0% {transform: translate(0%, 0px);}
	100% {transform: translate(100vw, 0px);}
}
@keyframes switchIn {
	0% {transform: translate(-100vw, 0px);}
	100% {transform: translate(0vw, 0px);}
}
